<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UX Imaging</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false);
</head>

<body dir="ltr" id="body">

   
        <div class="row" id="menu-bar">
            <div class="col-md-12">
                @Html.Partial("_MenuBar", null)

   
</div></div>

        


    <div class="row" id="nav-bar">
        <div class="col-md-12"> 


            @Html.Partial("_NavBar",null)

        </div>

    </div>
        <div class="row" id="content-full">
            <div class="col-md-2 " id="tool-bar">tool bar</div>
            <div class="col-md-10" id="content">content
            @RenderBody()

            </div>
            
        </div>
    <div class="row" id="footer">
        <div class="col-md-12">@Html.Partial("_Footer", null)</div>

    </div>



        
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
