<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UX Imagine</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("styles", false)

</head>
<body dir="ltr" id="body" data-ng-app="magicurveApp">


        <div class="row" id="menu-bar">
            <div class="col-md-12">
                @Html.Partial("_MenuBar", null)
        </div>
    </div>

    <nav class="navbar navbar-inverse" id="nav-bar">

        <div class="col-md-12 container-fluid" data-ng-controller="mainController">

            @Html.Partial("_NavBar", null)

        </div>

    </nav>
        <div class="row" id="content-full">
            <div class="col-md-2 " id="tool-bar">tool bar</div>
            <div class="col-md-10" id="content">
                
            @RenderBody()

            </div>

        </div>
    <div class="row" id="footer">
        <div class="col-md-12">@Html.Partial("_Footer", null)</div>

    </div>

    <script src="~/Scripts/app/views/home/magicurve.app.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.controller.main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
